@import "lib/colors";
@import "lib/normalize";
@import "lib/breakpoints";
@import "lib/display";
@import "lib/widths";
@import "lib/containers";
@import "lib/positioning";
@import "lib/flexbox";
@import "lib/align";
@import "lib/floats";
@import "lib/z-index";
@import "lib/typography";
@import "lib/buttons";
@import "lib/forms";
@import "lib/lists";
@import "lib/tables";
@import "lib/spacing";
@import "lib/syntax";

.slide {
  min-height: 100vh;
  padding: 5em 2em;
}

.gif {
  div {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.is-active {
    div {
      opacity: 1;
    }
  }
}

.counter {
  position: absolute;
  top: 2em; 
  right: 2em;
  color: $c1;
  width: 2em;
  height: 2em;
  border-radius: 100px;
  border: 2px solid $c1;
  line-height: 2em;
  text-align: center;
}

a {
  color: $c1;
}

img {
  width: 100%;
  max-width: 700px;
}

.loader {
  width: 40px;
}
